*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*main styling*/
html,body{
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    
}
a,
.container a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1, h2, h3{
    padding-bottom: 15px;
}
p{
    margin: 10px 0;
}
section{
    min-height: 100vh;
}
/*utility classes*/
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.btn{
    display: inline-block;
    font-size: 14px;
    padding: 13px 20px;
    border: none;
    cursor: pointer;    
}
.ordernow.btnwhite{
    display: flex;
    color: #FFF;
    font-size: 14px;
    border: 3px solid #fff;
    border-radius: 25px;
    padding: 5px 30px;
}
.ordernow.btnblack{
    display: flex;
    color: #000;
    font-size: 14px;
    border: 3px solid #000;
    border-radius: 25px;
    padding: 5px 30px;
}
/*padding*/
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}


/*navbar*/
#navbar{
    font-size: 14px;
    /*background: #333;*/
    color: #fff;
    overflow: auto;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto; 
}
#navbar a{
    color: white;
    /*font-weight: bold;*/
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 10px;
    text-align: center;
}
#navbar .main{
    float: left;
}
#logo img{
    max-width: 100px;
}
#logo h1{
    padding: 15px;
}
#mainMenu{    
    list-style: inside;
}
#account{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
}
/**/
.center-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    font-size: 28px;
    line-height: 36px;
    bottom: 50px;
    margin: 0px 0px 50px 0px;
}
  .callout-container{
    width: 150px;
    padding: 0 15px;
  }
  .callout-container p{
    font-size:14px;
  }
.divider{
    border-right: 1px solid #FFF;
    float: left;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    color: #FFF;
    height: 65px;
}
.with-callouts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 90vh;
}
/**/
.subjectDescription p{
    color: #393c41;
}

/*pages*/
/*Muodel 3*/
#model-3{
    background: url('../img/model-3-hero-desktop.jpg') no-repeat center center/cover;
    width: 100%;
}
#model-3 .container{
    margin-top: 30px;
}
#model-3 #leadheading{
    font-size: 40px;
    text-align: center;
    color: white;
    overflow: hidden;
    line-height: 48px;
}

#model-3 .center-bottom{
    text-align: center;
    top: 380px;
}
#model-3 .toReavel{
    float: left;
    text-align: center;
    font-size: 28px;   
    line-height: 36px;
    color: #FFF;
    height: 65px;    
}
#model-3 .animated{
    padding: 0 20px;
}
/*#model-3 .center-bottom .center-with-buttons .divider{
    border-right: 1px solid #FFF;
}*/
.center-with-buttons{
    display: inline-block;
    align-content: space-evenly;
    grid-template-columns: auto auto auto; 
}
.dailIcon{
    float: left;
    padding-top: 3px;
}
.callout-container p{
    font-size: 12px;
    line-height: 18px;
}

.toReavel .animated .with-btn{
    padding-top: 10px;
}

 

/*Safety*/
.flex-container-safety{
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
  }
  .safety.left_container-content{
    width:22%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: 5px 30px;
  }
  .subject-description .subject h2{
    font-size: 14px;
    font-weight: lighter;
  }
  .subject-description .subject h1{
    font-size: 28px;  
    font-weight: lighter;
  }
  .safety.right_container-image{
    display: flex;
    width: 80%;
  }
  #sb-right{
      width:100%;
      height: 100%;
  }
  .banner-buttons{
    display:flex;
    justify-content: space-between;
    bottom: 150px;
    margin: 0px 0px 20px 0px;
  }
  .plus-icon{
    width:40px;
    height:40px;
    border: 5px solid #000;
    border-radius:50%
  }
  .banner-ordernow-icons h4{
    padding: 10px 10px
  }
  .banner-ordernow-icons{
    display: flex;
    cursor: pointer;
  }
  .banner-animations{
    position: absolute;
  }



/*Performance*/
#performance{
    /*background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop')  no-repeat center top;
    width: 100%;
    background-size: 100% 70%;*/
    display: flex;
    align-items: flex-start;
}
.performance.right_container-image .callout-container{
    width: 320px;
  }
.flex-container-performance{
    display: flex;
    flex-flow: nowrap column-reverse;
    align-items:center;
    justify-content: space-between;
    height: 100vh;;
}
  .performance.left_container-content{
    width:50%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 25px 30px;
    height: 30%;
  }
  .subject-description{
    display: flex;
    flex-direction: column;
    min-width: 314px;
    padding-right: 20px;
  }
  #performance .subject-description .subject h2{
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
  }
  .subject-description .subject h1{
    font-size: 28px;  
    font-weight: 500;
    line-height: 17px;
  }
  .performance.right_container-image{
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop')  no-repeat center top;    
    background-position: center;
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    flex-direction: column;
  }
  #sb-right{
      width:100%;
      height: 100%;
  }
  .banner-buttons{
    display:flex;
    justify-content: space-between;
    bottom: 150px;
    margin: 0px 0px 20px 0px;
  }
  .plus-icon{
    width:40px;
    height:40px;
    border: 5px solid #000;
    border-radius:50%
  }
  .banner-ordernow-icons h4{
    padding: 10px 10px
  }
  .banner-ordernow-icons{
    display: flex;
    cursor: pointer;
  }
  .banner-animations{
    position: absolute;
  }
.performance-banner{
  flex: 1;
  height: 100vh;
  position: relative;
}

/*all-wheeldrive*/
#all-wheeldrive{    
    width: 100%;
    background-size: 100% 70%;
    display: flex;
    align-items: flex-start;
}
.all-wheeldrive.right_container-image .callout-container{
    width: 270px;
  }
.flex-container-all-wheeldrive{
    display: flex;
    flex-flow: nowrap column-reverse;
    align-items:center;
    justify-content: space-between;
    height: 100vh;;
}
  .all-wheeldrive.left_container-content{
    width:50%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 25px 30px;
    height: 30%;
  }
  .subject-description{
    display: flex;
    flex-direction: column;
    min-width: 314px;
    padding-right: 20px;
  }
  #all-wheeldrive .subject-description .subject h2{
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
  }
  .subject-description .subject h1{
    font-size: 28px;  
    font-weight: 500;
    line-height: 17px;
  }
  .all-wheeldrive.right_container-image{
    width: 100%;
    height: 90%;
    /*background: url('../img/lhd-awd-hero-desktop.jpg')  no-repeat center top;*/
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/02b9fe62-2569-4fc8-bfa1-a8f8cdd9d48e/bvlatuR/std/1440x900/lhd-awd-hero-desktop')  no-repeat center top;
    background-position: center;
    background-size: cover;
    display: flex;    
    justify-content: flex-end;
    flex-direction: column;
  }
  #sb-right{
      width:100%;
      height: 100%;
  }
  .banner-buttons{
    display:flex;
    justify-content: space-between;
    bottom: 150px;
    margin: 0px 0px 20px 0px;
  }
  .plus-icon{
    width:40px;
    height:40px;
    border: 5px solid #000;
    border-radius:50%
  }
  .banner-ordernow-icons h4{
    padding: 10px 10px
  }
  .banner-ordernow-icons{
    display: flex;
    cursor: pointer;
  }
  .banner-animations{
    position: absolute;
  }
.all-wheeldrive-banner{
  flex: 1;
  height: 100vh;
  position: relative;
}
.all-wheeldrive .callout-container.right img{
    width: 30px;
}

/*range*/
.range.right_container-image{
    background: url('../img/lhd-range-hero-desktop.jpg') no-repeat center center/cover;
    width: 100%;
}
.flex-container-range{
    display: flex;
    flex-flow: nowrap row-reverse;
    justify-content: flex-start;
  }
  .range.left_container-content{
    width:22%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: 5px 30px;
  }
  .subject-description .subject h2{
    font-size: 14px;
    font-weight: lighter;
  }
  .subject-description .subject h1{
    font-size: 28px;  
    font-weight: lighter;
  }
  .range.right_container-image{
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 100vh;
  }
  .range-banner{
    flex: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  #rb-right{
      width:100%;
      height: 100%;
  }
  .banner-buttons{
    display:flex;
    justify-content: space-between;
    bottom: 150px;
    margin: 0px 0px 20px 0px;
  }
  .plus-icon{
    width:40px;
    height:40px;
    border: 5px solid #000;
    border-radius:50%
  }
  .banner-ordernow-icons h4{
    padding: 10px 10px
  }
  .banner-ordernow-icons{
    display: flex;
    cursor: pointer;
  }
  .banner-animations{
    position: absolute;
  }
#range .callout-container{
    width: 240px;
}



/*autopilot*/
#autopilot{
    background: url('../img/lhd-awd-hero-desktop.jpg') no-repeat center center/cover;
    width: 100%;
}
#interior{
    background: url('../img/lhd-interior-hero-desktop.jpg') no-repeat center center/cover;
    width: 100%;
}
#specs{
    background: url('../img/global-spec-hero.png') no-repeat center center/cover;
    width: 100%;
}
#order img{
    background: no-repeat, center center/cover;

    /*background: url('../img/global-order-hero.png') no-repeat center center/cover;*/
    width: 100%;
}






/*footer*/
#main-footer{
    text-align: center;
    color: white;
    background: #000;
    padding: 20px;
}
#main-footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px 8px 0;
}
#main-footer ul li a{
    color: white;
}